- content_for :title do
  %title='Twrails'
%div{:class => 'container'}
  %div{:class => 'row'}
    %div{:class => 'span7'}
      %div{:class => 'hero-unit'}
        %h1 Twrails
        %p A small application that will be the next big thing to hit social media.  Integrated with Twitter.  Sponsored by Instagram. 
        %a{:class => 'btn-large btn btn-primary'} Sign in 
    %div{:class => 'span5'}
      %h1 Hey! Did you know?
      %p This is a complete ripoff of twitter and will never make it.  If you hear about Twrails going IPO, you should not invest.
      %a{:class => 'btn-large btn', :href => 'http://www.twitter.com/about', :target => '_blank'} What is a Twitter?
